[Desktop Entry]
Actions=new-window;new-private-window;open-profile-manager;
Categories=GNOME;GTK;Network;WebBrowser;
Comment[ru_RU]=Доступ в Интернет
Comment=Browse the World Wide Web
DBusActivatable=false
Exec=/usr/lib/firefox/firefox %u
GenericName[ru_RU]=Веб-браузер
GenericName=Web Browser
Icon=firefox
Keywords[ru_RU]=Сеть;Интернет;Браузер;Доступ в Интернет;
Keywords=Internet;WWW;Browser;Web;Explorer;
MimeType=application/json;application/pdf;application/rdf+xml;application/rss+xml;application/x-xpinstall;application/xhtml+xml;application/xml;audio/flac;audio/ogg;audio/webm;image/avif;image/gif;image/jpeg;image/png;image/svg+xml;image/webp;text/html;text/xml;video/ogg;video/webm;x-scheme-handler/chrome;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
Name[ru_RU]=Firefox
Name=Firefox
StartupNotify=true
StartupWMClass=firefox
Terminal=false
Type=Application
Version=1.0
X-GNOME-FullName[ru_RU]=Веб-браузер Firefox
X-GNOME-FullName=Firefox Web Browser
X-MultipleArgs=false

[Desktop Action new-private-window]
Exec=/usr/lib/firefox/firefox --private-window %u
Name[ru_RU]=Новое приватное окно
Name=New Private Window

[Desktop Action new-window]
Exec=/usr/lib/firefox/firefox --new-window %u
Name[ru_RU]=Новое окно
Name=New Window

[Desktop Action open-profile-manager]
Exec=/usr/lib/firefox/firefox --ProfileManager
Name[ru_RU]=Открыть менеджер профилей
Name=Open Profile Manager
