[Desktop Entry]
Actions=NewWindow;NewTab;
Categories=Qt;KDE;System;TerminalEmulator;
Comment[ru_RU]=Доступ к командной строке
Comment=Command line access
Exec=konsole
GenericName[ru_RU]=Терминал
GenericName=Terminal
Icon=utilities-terminal
Keywords[ru_RU]=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;cmd;command prompt;терминал;консоль;сценарий;запустить;выполнить;команда;командная строка;оболочка
Keywords=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;cmd;command prompt
Name[ru_RU]=Konsole
Name=Konsole
StartupNotify=true
StartupWMClass=konsole
TryExec=konsole
Type=Application
X-DocPath=konsole/index.html
X-KDE-AuthorizeAction=shell_access
X-KDE-Shortcuts=Ctrl+Alt+T

[Desktop Action NewTab]
Exec=konsole --new-tab
Icon=tab-new
Name[ru_RU]=Открыть новую вкладку
Name=Open a New Tab

[Desktop Action NewWindow]
Exec=konsole
Icon=window-new
Name[ru_RU]=Открыть новое окно
Name=Open a New Window
