<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Главное меню</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div class="main-container">
    <div class="half left">
  <h2>Скачать файлы</h2>
  <button onclick="location.href='/download'">Выбрать предмет</button>
</div>
<div class="half right">
  <h2>Загрузить файлы</h2>
  <button onclick="location.href='/upload'">Выбрать предмет</button>
</div>
  </div>


</body>
</html>
