<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Главное меню</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div class="main-container">
    <div class="user-info">
      <h3>Привет, {{ session.first_name }} {{ session.last_name }}!</h3>

      <button
        type="button"
        onclick="location.href='{{ url_for('edit_subjects') }}'"
      >
        Изменить предметы
      </button>

      <form
        action="{{ url_for('logout') }}"
        method="POST"
        style="display:inline;"
      >
        <button type="submit">Выйти</button>
      </form>
    </div>

    <div class="half left">
      <h2>Скачать файлы</h2>

      <button onclick="location.href='{{ url_for('download_select') }}'">
        Выбрать предмет
      </button>
    </div>

    <div class="half right">
      <h2>Загрузить файлы</h2>

      <button onclick="location.href='{{ url_for('upload_select') }}'">
        Выбрать предмет
      </button>
    </div>
  </div>
</body>
</html>
